#cookielaw-banner {
    position: fixed;
    display: inline-block;
    left: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.9;
    margin: 20px 20px 0 20px;
}

#cookielaw-banner .close {
    background: url('../img/close.png') no-repeat 0 0;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
}

#cookielaw-banner .message {
    display: none;
    padding: 10px;
}
